In [29]:
#importing pandas
import pandas as pd

In [30]:
#importing file
pymoli_data = "Resources/purchase_data.csv"

#reading purchase data and storing into df

purchase_data_df = pd.read_csv(pymoli_data)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [31]:
#player count
total_players = len(purchase_data_df["SN"].value_counts())
Total_Players = pd.DataFrame({"Total_Players": total_players}, index=[0])
Total_Players

   Total_Players
0            576

In [32]:
#purchasing analysis (total)
#unique items
unique_items = len(purchase_data_df["Item ID"].value_counts())
#average purchase price
average_price = purchase_data_df["Price"].mean()
#total purchases
total_purchases = purchase_data_df["Item Name"].count()
#total rev
total_rev = purchase_data_df["Price"].sum()
#dataframe
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price], 
                                   "Number of Purchases": [total_purchases], 
                                   "Total Revenue": [total_rev]})
#formatting $$$
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [33]:
#gener Demographics
gender_group_df = purchase_data_df.groupby(["Gender"])
unique_gender_df = gender_group_df.nunique()

#total gender
total_gender = unique_gender_df["SN"].sum()

#count
count = unique_gender_df["SN"].unique()

#% of players
percent_players = unique_gender_df["SN"] / total_gender

#printing new dataframe
gender_demo_df = pd.DataFrame({"Count of Players": count,
                               "Percentage of Players": percent_players})
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2%}".format)

gender_demo_df

                       Count of Players Percentage of Players
Gender
Female                               81                14.06%
Male                                484                84.03%
Other / Non-Disclosed                11                 1.91%

In [34]:
# purchase count
purchase_count = purchase_data_df["Gender"].value_counts()
#average purchase price
average_purchase = gender_group_df["Price"].mean()
#total purchase price
total_purchase = gender_group_df["Price"].sum()
#average total purchase per person
average_total = total_purchase / count

# new dataframe!
gender_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": average_purchase,
                                  "Total Purchase Value": total_purchase, 
                                  "Avg Total Purchase per Person": average_total})
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [35]:
#Age Demographics
new_df = purchase_data_df.drop_duplicates("SN")
#age bin
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#player category with pd.cut
new_df["Age Groups"] = pd.cut(new_df["Age"], bins, labels=groups)
age_df = new_df.groupby(["Age Groups"])

total = unique_gender_df["Age"].sum()

#count
purchase_count = new_df["Age Groups"].value_counts()

#percentage of players
percent_of_players = purchase_count / total_players

#summary dataframe
summary_df = pd.DataFrame({"Total Count": purchase_count,
                          "Percent of Players": percent_of_players})


#optional - round the percentage column to two decimal points
summary_df["Percent of Players"] =  summary_df["Percent of Players"].map("{:,.2%}".format)
#display age demo table

summary_df = summary_df.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

summary_df

C:\Users\seraf\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percent of Players
<10             17              2.95%
10-14           22              3.82%
15-19          107             18.58%
20-24          258             44.79%
25-29           77             13.37%
30-34           52              9.03%
35-39           31              5.38%
40+             12              2.08%

In [65]:
new_purchase_df = purchase_data_df.groupby(["Gender"])

#age bin
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

new_purchase_df["Age Groups"] = pd.cut(new_purchase_df["Age"], bins, labels=groups)
age_df = new_purchase_df.groupby(["Age Groups"])

age_counts = new_purchase_df["SN"].count()
age_counts

age_average = new_purchase_df["Price"].mean()
age_average

age_purchase_total = new_purchase_df["Price"].sum()
age_purchase_total

avg_purchase_total = age_purchase_total / count
avg_purchase_total_new = avg_purchase_total.round(decimals=2)
avg_purchase_total_new


age_analysis = pd.DataFrame({"Purchase Count": age_counts,
                            "Average Purchase Price": age_average,
                            "Total Purchase Value": age_purchase_total,
                            "Avg Total Purchase per Person": avg_purchase_total_new})
age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:.2f}".format)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:.2f}".format)
age_analysis["Avg Total Purchase per Person"] = age_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)
age_analysis["Purchase Count"] = age_analysis["Purchase Count"].map("{:,}".format)
age_analysis = summary_df.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_analysis

ValueError: setting an array element with a sequence

In [39]:
#Top SPenders

# Basic Calculations
user_total = new_bin_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = new_bin_df.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = new_bin_df.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Convert to DataFrame
user_data = pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})

# sorting the total purchase value
user_sorted = user_data.sort_values("Total Purchase Value", ascending=False)

# cleaning up the data, adding $
user_sorted["Average Purchase Price"] = user_sorted["Average Purchase Price"].map("${:,.2f}".format)
user_sorted["Total Purchase Value"] = user_sorted["Total Purchase Value"].map("${:,.2f}".format)
user_sorted = user_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Putputting table
user_sorted.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [40]:
#Most popular Items
item_data = new_bin_df.loc[:, ["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_price = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
total_purchase_value = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Create a summary data frame to hold the results
item_data_pd = pd.DataFrame({"Total Purchase Value": total_purchase_value, "Item Price": item_price, "Purchase Count": item_count})


# Sort the purchase count column in descending order
item_data_sorted = item_data_pd.sort_values("Purchase Count")

# Optional: give the displayed data cleaner formatting
item_data_sorted["Item Price"] = item_data_sorted["Item Price"].map("${:,.2f}".format)
item_data_sorted["Purchase Count"] = item_data_sorted["Purchase Count"].map("{:,}".format)
item_data_sorted["Total Purchase Value"] = item_data_sorted["Total Purchase Value"].map("${:,.2f}".format)

# Display a preview of the summary data frame
popular_items = item_data_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
91,Celeste,1,$4.17,$4.17
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
134,Undead Crusader,1,$4.50,$4.50
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
104,Gladiator's Glaive,1,$1.93,$1.93

In [ ]:
#Most profitable items

# Sort the above table by total purchase value in descending order


# Optional: give the displayed data cleaner formatting


# Display a preview of the data frame

In [67]:
# Binning
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add bins to new dataframe and groupby
new_purchase_df = purchase_data_df.copy()
new_purchase_df["Age Groups"] = pd.cut(new_purchase_df["Age"], bins, labels=binLab)
binColumn = pd.cut(new_bin_df["Age"], bins, labels=binLab)
grouped_bin = new_bin_df.groupby(["Age Groups"])

NameError: name 'binLab' is not defined