In [10]:
#importing pandas
import pandas as pd

In [31]:
#importing file
pymoli_data = "Resources/purchase_data.csv"

#reading purchase data and storing into df

purchase_data_df = pd.read_csv(pymoli_data)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [33]:
#player count
total_players = len(purchase_data_df["SN"].value_counts())
Total_Players = pd.DataFrame({"Total_Players": total_players}, index=[0])
Total_Players

   Total_Players
0            576

In [38]:
#purchasing analysis (total)
#unique items
unique_items = len(purchase_data_df["Item ID"].value_counts())
#average purchase price
average_price = purchase_data_df["Price"].mean()
#total purchases
total_purchases = purchase_data_df["Item Name"].count()
#total rev
total_rev = purchase_data_df["Price"].sum()
#dataframe
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price], 
                                   "Number of Purchases": [total_purchases], 
                                   "Total Revenue": [total_rev]})
#formatting $$$
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [42]:
#gener Demographics
gender_df = purchase_data_df.set_index("Gender")
gender_group = purchase_data_df.groupby(["Gender"])

gender_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39