# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("Output_Data/cities.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Orange,40,US,1603078869,83,33.70,-117.77,69.80,5.82
1,Narsaq,98,GL,1603078778,86,60.92,-46.05,39.20,3.36
2,Saint-Pierre,75,RE,1603078869,53,-21.34,55.48,75.20,4.70
3,Peniche,21,PT,1603078869,82,39.36,-9.38,62.01,8.99
4,Vardø,40,NO,1603078869,80,70.37,31.11,30.20,6.93
...,...,...,...,...,...,...,...,...,...
578,Delta del Tigre,1,UY,1603078995,60,-34.76,-56.39,75.20,13.87
579,Asbury Park,1,US,1603078866,87,40.22,-74.01,61.00,8.16
580,Petropavlovsk-Kamchatskiy,40,RU,1603078996,54,53.05,158.65,55.40,6.71
581,Waingapu,7,ID,1603078996,57,-9.66,120.26,88.81,12.35
582,Opuwo,0,NaN,1603078996,27,-18.06,13.84,66.52,6.38

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
#configure gmaps
gmaps.configure(api_key=g_key)

#use lat and lgn as locations
locations = weather_data[["Lat", "Lng"]]

#use huimidity as weight
humidity = weather_data["Humidity"]

In [10]:
#plt the heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

#heat layer

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure