# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("Output_Data/cities.csv")
weather_data

,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,583.000000,5.830000e+02,583.000000,583.000000,583.000000,583.000000,583.000000
1,52.612350,1.603079e+09,72.087479,19.797959,22.751595,59.757942,7.648988
2,38.426267,7.865012e+01,21.166195,33.716957,91.795529,20.181542,5.637585
3,0.000000,1.603079e+09,11.000000,-54.800000,-179.170000,5.000000,0.340000
4,10.500000,1.603079e+09,60.000000,-8.390000,-58.695000,44.055000,3.740000
5,60.000000,1.603079e+09,78.000000,24.470000,27.830000,63.000000,6.460000
6,90.000000,1.603079e+09,88.000000,47.010000,112.095000,76.675000,9.830000
7,100.000000,1.603079e+09,100.000000,78.220000,178.420000,98.600000,46.080000

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure