In [4]:
#importing pandas
import pandas as pd

In [5]:
#importing file
pymoli_data = "Resources/purchase_data.csv"

#reading purchase data and storing into df

purchase_data_df = pd.read_csv(pymoli_data)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
#player count
total_players = len(purchase_data_df["SN"].value_counts())
Total_Players = pd.DataFrame({"Total_Players": total_players}, index=[0])
Total_Players

   Total_Players
0            576

In [7]:
#purchasing analysis (total)
#unique items
unique_items = len(purchase_data_df["Item ID"].value_counts())
#average purchase price
average_price = purchase_data_df["Price"].mean()
#total purchases
total_purchases = purchase_data_df["Item Name"].count()
#total rev
total_rev = purchase_data_df["Price"].sum()
#dataframe
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price], 
                                   "Number of Purchases": [total_purchases], 
                                   "Total Revenue": [total_rev]})
#formatting $$$
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [8]:
#gener Demographics
gender_group_df = purchase_data_df.groupby(["Gender"])
unique_gender_df = gender_group_df.nunique()

#total gender
total_gender = unique_gender_df["SN"].sum()

#count
count = unique_gender_df["SN"].unique()

#% of players
percent_players = unique_gender_df["SN"] / total_gender

#printing new dataframe
gender_demo_df = pd.DataFrame({"Count of Players": count,
                               "Percentage of Players": percent_players})
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2%}".format)

gender_demo_df

                       Count of Players Percentage of Players
Gender
Female                               81                14.06%
Male                                484                84.03%
Other / Non-Disclosed                11                 1.91%

In [18]:
# purchase count
purchase_count = purchase_data_df["Gender"].value_counts()
#average purchase price
average_purchase = gender_group_df["Price"].mean()
#total purchase price
total_purchase = gender_group_df["Price"].sum()
#average total purchase per person
average_total = total_purchase / count

# new dataframe!
gender_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": average_purchase,
                                  "Total Purchase Value": total_purchase, 
                                  "Avg Total Purchase per Person": average_total})
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [31]:
#Age Demographics
new_df = purchase_data_df.drop_duplicates("SN")
#age bin
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#player category with pd.cut
new_df["Age Groups"] = pd.cut(new_df["Age"], bins, labels=groups)
age_df = new_df.groupby(["Age Groups"])

total = unique_gender_df["Age"].sum()

#count
purchase_count = new_df["Age Groups"].value_counts()

#percentage of players
percent_of_players = purchase_count / total_players

#summary dataframe
summary_df = pd.DataFrame({"Total Count": purchase_count,
                          "Percent of Players": percent_of_players})


#optional - round the percentage column to two decimal points
summary_df["Percent of Players"] =  summary_df["Percent of Players"].map("{:,.2%}".format)
#display age demo table

summary_df = summary_df.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

summary_df

C:\Users\seraf\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Total Count Percent of Players
<10             17              2.95%
10-14           22              3.82%
15-19          107             18.58%
20-24          258             44.79%
25-29           77             13.37%
30-34           52              9.03%
35-39           31              5.38%
40+             12              2.08%

In [ ]:
#purchasing Analysis(age)


#Bin the purchase data
bins = [0,9,14,19,24,29,34,39,100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#obtain count, avg purchase, avg purchase total


#create summary


#give the displayed data cleaner formatting


#display summary frame