In [10]:
#importing pandas
import pandas as pd

In [31]:
#importing file
pymoli_data = "Resources/purchase_data.csv"

#reading purchase data and storing into df

purchase_data_df = pd.read_csv(pymoli_data)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [33]:
#player count
total_players = len(purchase_data_df["SN"].value_counts())
Total_Players = pd.DataFrame({"Total_Players": total_players}, index=[0])
Total_Players

   Total_Players
0            576

In [38]:
#purchasing analysis (total)
#unique items
unique_items = len(purchase_data_df["Item ID"].value_counts())
#average purchase price
average_price = purchase_data_df["Price"].mean()
#total purchases
total_purchases = purchase_data_df["Item Name"].count()
#total rev
total_rev = purchase_data_df["Price"].sum()
#dataframe
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price], 
                                   "Number of Purchases": [total_purchases], 
                                   "Total Revenue": [total_rev]})
#formatting $$$
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [39]:
#gener Demographics
gender_df = purchase_data_df.set_index("Gender")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44